<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:remove="tag">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	th:href="@{/libs/bootstrap-3.3.2/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{libs/plugins/datatables/dataTables.bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{libs/dist/css/AdminLTE.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{libs/dist/css/skins/_all-skins.min.css}" />
</head>
<body th:fragment="scripts" th:remove="tag">

</body>
</html>
