<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="changepwd">
<head>
<title>Student KARD | Change Password</title>
<link th:replace="util/import :: head" />
</head>
<body class="hold-transition skin-blue sidebar-mini"
	ng-controller="EditCtrl">
	<div class="wrapper">
		<!-- =============================================== -->
		<!-- =============================================== -->
		<header class="main-header">
			<a href="#" class="logo"><span class="logo-mini"><b>S</b>K</span><span
				class="logo-lg"><b>Student</b>KARD</span></a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span><span
					class="icon-bar"></span> <span class="icon-bar"></span><span
					class="icon-bar"></span>
				</a>
				<div class="navbar-custom-menu"></div>
			</nav>
		</header>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<aside class="main-sidebar" th:include="menu :: menu"></aside>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<div class="content-wrapper">

			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->
			<section class="content-header">
				<h1>
					Change <small>Password</small>
				</h1>
				<ol class="breadcrumb">
					<li></li>
				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-info">
							<form class="form-horizontal">
								<div class="box-body">
									<input type="hidden" class="form-control"
										ng-model="user.userId" />
									<div class="form-group">
										<label class="col-sm-4 control-label">Username</label>
										<div class="col-sm-6">
											<input type="text" class="form-control"
												value="{{user.username}}" disabled="disabled" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">New Password</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="newPassword" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Retype Password</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="retypePassword" />
										</div>
									</div>
								</div>
								<div class="box-footer">
									<button type="button" class="btn btn-success pull-right"
										ng-click="changePassword()">
										<i class="glyphicon glyphicon-ok"></i> Change
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->

		</div>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2016-2017 <a
				href="http://creativedreamzzz.com">Creative Dreamzzz</a>.
			</strong> All rights reserved.
		</footer>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
	</div>
	<script th:replace="util/import :: scripts"></script>
	<script type="text/javascript" th:src="@{/resources/js/changepassword.js}"></script>
</body>
</html>
