<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="course">
<head>
<title>Student KARD | Course</title>
<link th:replace="util/import :: head" />
</head>
<body class="hold-transition skin-blue sidebar-mini"
	ng-controller="ViewCtrl">
	<div class="wrapper">
		<!-- =============================================== -->
		<!-- =============================================== -->
		<header class="main-header">
			<a href="#" class="logo"><span class="logo-mini"><b>S</b>K</span><span
				class="logo-lg"><b>Student</b>KARD</span></a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span><span
					class="icon-bar"></span> <span class="icon-bar"></span><span
					class="icon-bar"></span>
				</a>
				<div class="navbar-custom-menu"></div>
			</nav>
		</header>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<aside class="main-sidebar" th:include="menu :: menu"></aside>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<div class="content-wrapper">

			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->
			<section class="content-header">
				<h1>
					Course <small>Control panel</small>
				</h1>
				<ol class="breadcrumb">
					<li><button type="button"
							ng-click="createCourse('.edit-course')"
							class="btn btn-sm btn-info">
							<i class="glyphicon glyphicon-plus"></i> Add Course
						</button></li>
				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-body">
								<div class="form-group">
									<input type="text" ng-model="search" class="form-control" placeholder="Search"/>
								</div>
								<table 
									class="table table-bordered table-striped table-hover table-condensed">
									<thead style="background-color: #31b0d5;">
										<tr>
											<th>&nbsp;</th>
											<th ng-click="sort('courseName')">Name&nbsp;
											<span class="glyphicon sort-icon" ng-show="sortKey=='courseName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
											<th>Subjects</th>
										</tr>
									</thead>
									<tbody>
										<tr dir-paginate="course in courses|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
											<td style="width: 90px">
												<button type="button"
													ng-click="openCourse(course,'.edit-course')"
													class="btn btn-sm btn-success">
													<i class="glyphicon glyphicon-edit"></i>
												</button>
												<button type="button" ng-click="deleteCourse(course)"
													class="btn btn-sm btn-danger">
													<i class="glyphicon glyphicon-trash"></i>
												</button>
											</td>
											<td>{{course.courseName}}</td>
											<td><span style="margin-right: 5px;"
												class="label label-info"
												ng-repeat="subject in course.subjects">&nbsp;{{subject.subjectName}}&nbsp;</span></td>
										</tr>
									</tbody>
								</table>
								<dir-pagination-controls max-size="10" 
									direction-links="true" boundary-links="true"></dir-pagination-controls>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->

		</div>

		<div class="edit-course modal fade" id="coursemodal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
			ng-controller="EditCtrl">
			<div class="modal-dialog container modal-lg">
				<form class="form-horizontal">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Add/Edit Course</h4>
						</div>
						<div class="modal-body">
							<input type="hidden" class="form-control"
								ng-model="course.courseId" />
							<div class="form-group">
								<label class="col-sm-2 control-label">Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
										ng-model="course.courseName" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Subjects</label>
								<div class="col-sm-10">
									<div class="checkbox" ng-repeat="subject in subjects">
										<label><input type="checkbox"
											ng-checked="subject.checked"
											ng-click="changeCourseSubject(subject)" />
											{{subject.subjectName}}</label>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								<i class="glyphicon glyphicon-remove"></i> Close
							</button>
							<button type="button" class="btn btn-success"
								ng-click="saveCourse()">
								<i class="glyphicon glyphicon-ok"></i> Save
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2016-2017 <a
				href="http://creativedreamzzz.com">Creative Dreamzzz</a>.
			</strong> All rights reserved.
		</footer>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
	</div>
	<script th:replace="util/import :: scripts"></script>
	<script type="text/javascript" th:src="@{/resources/js/course.js}"></script>
</body>
</html>
