<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="gradetracker">
<head>
<title>Student KARD | Home</title>
<link th:replace="util/import :: head" />
</head>
<body class="hold-transition skin-blue sidebar-mini"
	ng-controller="ViewCtrl">
	<div class="wrapper">
		<!-- =============================================== -->
		<!-- =============================================== -->
		<header class="main-header">
			<a href="#" class="logo"><span class="logo-mini"><b>S</b>K</span><span
				class="logo-lg"><b>Student</b>KARD</span></a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span><span
					class="icon-bar"></span> <span class="icon-bar"></span><span
					class="icon-bar"></span>
				</a>
				<div class="navbar-custom-menu"></div>
			</nav>
		</header>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<aside class="main-sidebar" th:include="menu :: menu"></aside>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<div class="content-wrapper">

			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->
			<section class="content-header">
				<h1>
					Grade Tracker<small>Control Panel</small>
				</h1>
				<ol class="breadcrumb">
					
				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-info">
							<form class="form-horizontal">
							<div class="box-body">
								<div class="form-group">
									<label class="col-sm-2 control-label">Batch</label>
									<div class="col-sm-6"><select class="form-control" 
										ng-model="gradetracker.batch.batchId" ng-change="loadCoursesByBatch()">
										<option value="">----- select batch -----</option>
										<option ng-repeat="batch in batches" value="{{batch.batchId}}">{{batch.batchName}}</option>
									</select></div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Course</label>
									<div class="col-sm-6"><select class="form-control" ng-change="loadStudentsByBatchNCourse()"
										ng-model="gradetracker.course.courseId">
										<option value="">----- select course -----</option>
										<option ng-repeat="course in courses" value="{{course.courseId}}">{{course.courseName}}</option>
									</select></div>
								</div>
							</div>
							</form>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="box box-primary" id="formDiv" style="display: none;">
							<div class="box-body">
								<table
									class="table table-bordered table-striped table-hover table-condensed">
									<thead style="background-color: #31b0d5;">
										<tr>
											<th>Name</th>
											<th ng-repeat="subject in subjects">{{subject.subjectName}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="student in students">
											<td>{{student.studentName}}</td>
											<td ng-repeat="subject in subjects" ng-if="student.grades.length == 0">
												<input type="text" class="form-control" id="marksOf{{subject.subjectName}}" />
											</td>
											<td ng-repeat="subject in student.grades" ng-if="student.grades.length != 0">
												<input type="text" class="form-control" ng-model="subject.marks" />
											</td>
										</tr>
									</tbody>
								</table>								
							</div>
							<div class="box-footer">
									<button type="button" class="btn btn-success pull-right"
										ng-click="saveMarks()">
										<i class="glyphicon glyphicon-ok"></i> Save
									</button>
								</div>
						</div>
					</div>
				</div>
			</section>
			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->

		</div>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2016-2017 <a
				href="http://creativedreamzzz.com">Creative Dreamzzz</a>.
			</strong> All rights reserved.
		</footer>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
	</div>
	<script th:replace="util/import :: scripts"></script>
	<script type="text/javascript" th:src="@{/resources/js/gradetracker.js}"></script>
</body>
</html>
