<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Student KARD | Home</title>
<link th:replace="util/import :: head" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- =============================================== -->
		<!-- =============================================== -->
		<header class="main-header">
			<a href="#" class="logo"><span class="logo-mini"><b>S</b>K</span><span
				class="logo-lg"><b>Student</b>KARD</span></a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span><span
					class="icon-bar"></span> <span class="icon-bar"></span><span
					class="icon-bar"></span>
				</a>
				<div class="navbar-custom-menu"></div>
			</nav>
		</header>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<aside class="main-sidebar" th:include="menu :: menu"></aside>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<div class="content-wrapper">

			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->
			<section class="content-header">
				<h1>
					Profile <small>snapshot</small>
				</h1>
				<ol class="breadcrumb">

				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-body">
								<div class="col-xs-6">
									<div class="box box-primary">
										<div class="box-body box-profile">
											<img class="profile-user-img img-responsive img-circle"
												src="../resources/libs/dist/img/user4-128x128.jpg" />
											<h3 class="profile-username text-center">Nina Mcintire</h3>
											<ul class="list-group list-group-unbordered">
												<li class="list-group-item"><b>Contact</b><a
													class="pull-right">1234567890</a></li>
												<li class="list-group-item"><b>Email</b><a
													class="pull-right">abc@gm.com</a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="col-xs-6">
									<div class="box box-primary">
										<div class="box-header with-border">
											<h3 class="box-title">Other Details</h3>
										</div>
										<div class="box-body">
											<strong><i class="fa fa-book margin-r-5"></i> Date
												Of Birth</strong>
											<p class="text-muted">06-11-1989</p>
											<hr />
											<strong><i class="fa fa-map-marker margin-r-5"></i>
												Address</strong>
											<p class="text-muted">
												13-1-2/ba,<br />abc colony,<br />punjaguta,<br />hyderabad,<br />tel-250021
											</p>
											<hr />
											<strong><i class="fa fa-file-text-o margin-r-5"></i>Course</strong>
											<p>Computer Science Engineering</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->

		</div>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2016-2017 <a
				href="http://creativedreamzzz.com">Creative Dreamzzz</a>.
			</strong> All rights reserved.
		</footer>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
	</div>
	<script th:replace="util/import :: scripts"></script>
</body>
</html>
