<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Student KARD | Log in</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<link rel="stylesheet"
	href="../resources/libs/bootstrap-3.3.2/css/bootstrap.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<link rel="stylesheet"
	href="../resources/libs/dist/css/AdminLTE.min.css" />
<link rel="stylesheet"
	href="../resources/libs/plugins/iCheck/square/blue.css" />
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="#"><b>Student</b>KARD</a>
		</div>
		<div th:if="${param.error}" class="alert alert-error">Invalid username and password.</div>
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>
			<form th:action="@{/authenticate}" method="post">
				<div class="form-group has-feedback">
					<input type="email" class="form-control" placeholder="Username"
						name="username" /> <span
						class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Password"
						name="password" /> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Sign
							In</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript"
		src="../resources/libs/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<script type="text/javascript"
		src="../resources/libs/bootstrap-3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="../resources/libs/plugins/iCheck/icheck.min.js"></script>
</body>
</html>
