<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>StudentKard Login</title>
<link th:replace="import :: css" />
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="#"><b>School</b>KARD</a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body" data-ng-app="loginpage">
			<p class="login-box-msg">Sign in to start your session</p>
			<form name="form" th:action="@{/authenticate}" method="post">
				<div class="form-group has-feedback">
					<input type="email" class="form-control" placeholder="Username"
						name="username" /> <span
						class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Password"
						name="password" /> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Sign
							In</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
			<a href="#" ng-show="error"></a><br />
		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->
	<div th:replace="import :: javascript"></div>
</body>
</html>
