<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="profile">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Student KARD | Profile</title>
<link th:include="util/import :: head" />
</head>
<body class="hold-transition skin-blue sidebar-mini"
	ng-controller="ViewCtrl">
	<div class="wrapper">
		<!-- =============================================== -->
		<!-- =============================================== -->
		<header class="main-header">
			<a href="#" class="logo"><span class="logo-mini"><b>S</b>K</span><span
				class="logo-lg"><b>Student</b>KARD</span></a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span><span
					class="icon-bar"></span> <span class="icon-bar"></span><span
					class="icon-bar"></span>
				</a>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li class="dropdown messages-menu"></li>
						<li class="dropdown notifications-menu"></li>
						<li class="dropdown tasks-menu"></li>
						<li class="dropdown user user-menu"></li>
						<li><a href="#" data-toggle="control-sidebar"><i
								class="fa fa-gears"></i></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<aside class="main-sidebar" th:include="menu :: menu"></aside>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<div class="content-wrapper">

			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->
			<section class="content-header">
				<h1>
					Profile <small>snapshot</small>
				</h1>
				<ol class="breadcrumb">

				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-body">
								<div class="col-xs-6">
									<div class="box box-primary">
										<div class="box-body box-profile">
											<a href="#" title="Change profile picture"><img class="profile-user-img img-responsive img-circle" ng-click="editPhoto('.edit-photo')"
												src="../profile/{{loggerUser.imgName}}" /></a>
											<h3 class="profile-username text-center" sec:authorize="hasRole('ROLE_EMPLOYEE')">{{loggerUser.teacherName}}</h3>
											<h3 class="profile-username text-center" sec:authorize="hasRole('ROLE_STUDENT')">{{loggerUser.studentName}}</h3>
											<h3 class="profile-username text-center" sec:authorize="hasRole('ROLE_PARENT')">{{loggerUser.parentName}}</h3>
											<ul class="list-group list-group-unbordered">
												<li class="list-group-item"><b>Contact</b><a
													class="pull-right">{{loggerUser.contactNo}}</a></li>
												<li class="list-group-item"><b>Email</b><a
													class="pull-right">{{loggerUser.emailAddress}}</a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="col-xs-6">
									<div class="box box-primary">
										<div class="box-header with-border">
											<h3 class="box-title">Other Details</h3>
										</div>
										<div class="box-body">
											<strong sec:authorize="hasRole('ROLE_EMPLOYEE') || hasRole('ROLE_STUDENT')"><i class="fa fa-book margin-r-5"></i> Date
												Of Birth</strong>
											<p class="text-muted" sec:authorize="hasRole('ROLE_EMPLOYEE') || hasRole('ROLE_STUDENT')">{{loggerUser.dateOfBirth | date: "dd-MMM-yyyy"}}</p>
											<hr sec:authorize="hasRole('ROLE_EMPLOYEE') || hasRole('ROLE_STUDENT')"/>
											<strong><i class="fa fa-map-marker margin-r-5"></i>
												Address</strong>
											<p class="text-muted">
												{{loggerUser.address}}<br />{{loggerUser.location.locationName}}
												- {{loggerUser.location.pinCode}} <br />{{loggerUser.location.cityName}}<br />{{loggerUser.location.stateName}}<br />INDIA
											</p>
											<hr sec:authorize="hasRole('ROLE_EMPLOYEE') || hasRole('ROLE_STUDENT')"/>
											
											<strong sec:authorize="hasRole('ROLE_EMPLOYEE')"><i class="fa fa-file-text-o margin-r-5"></i>Teaching
												Subject</strong> <br />
											<br sec:authorize="hasRole('ROLE_EMPLOYEE')"/> <span style="margin-right: 5px;"
												class="label label-info" sec:authorize="hasRole('ROLE_EMPLOYEE')"
												ng-repeat="subject in loggerUser.subjects">&nbsp;{{subject.subjectName}}&nbsp;</span>
											
											<strong sec:authorize="hasRole('ROLE_STUDENT')"><i class="fa fa-book margin-r-5"></i> Batch</strong>
											<p class="text-muted" sec:authorize="hasRole('ROLE_STUDENT')">{{loggerUser.batch.batchName}}</p>
											
											<strong sec:authorize="hasRole('ROLE_STUDENT')"><i class="fa fa-book margin-r-5"></i> Course</strong>
											<p class="text-muted" sec:authorize="hasRole('ROLE_STUDENT')">{{loggerUser.course.courseName}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->

		</div>
		
		
		<div class="edit-photo modal fade" id="photomodal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
			>
			<div class="modal-dialog container">
				<form class="form-horizontal" id="uploadForm" enctype="multipart/form-data" method="post">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Upload Photo</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label class="col-sm-2 control-label">File</label>
								<div class="col-sm-10">
									<input type="file" name="file" id="fileSectionBrowse" />
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								<i class="glyphicon glyphicon-remove"></i> Close
							</button>
							<button type="button" class="btn btn-success"
								id="upload" >
								<i class="glyphicon glyphicon-ok"></i> Save
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2016-2017 <a
				href="http://creativedreamzzz.com">Creative Dreamzzz</a>.
			</strong> All rights reserved.
		</footer>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
	</div>
	<script th:replace="util/import :: scripts"></script>
	<script type="text/javascript" th:src="@{/resources/js/profile.js}"></script>
	<script type="text/javascript">
	//$('#uploadDiv').hide();
	$('#upload').click(function(){
		 var filename = $('#fileSectionBrowse').val();
			var extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
			if (extension == 'jpg' || extension == 'png' || extension == 'gif' || extension == 'jpeg' ) {
		    	var fileSize = $('#fileSectionBrowse')[0].files[0].size;
		    	//1048576
		        if(fileSize > 5242880) {
		        	bootbox.alert('File size should be less than 5MB size!!!');
		        	e.preventDefault();
		        }
		    } else {            	
		    	bootbox.alert('Only jpg, jpeg, png, gif files are allowed to upload!!');		    	
		    	e.preventDefault();
		    }
			var fd = new FormData(document.getElementById("uploadForm"));
			$.ajax({
		 		dataType : 'json',
			    type: "POST",
			    url: '/studentkard/file',
			    data: fd,			    
			     enctype: 'multipart/form-data',
			     processData: false, 
			     contentType:false,
			     success : function(result) {
			    	 bootbox.alert('Photo uploaded successfully');
			     }, error : function(result){
			    	 bootbox.alert('Error!! Please contact your administrator!!');
		     	}	    
			  });
			$('#photomodal').hide();
		});
	</script>
</body>
</html>
