<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" ng-app="teacher">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>School KARD | Teacher</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<link rel="stylesheet" href="../resources/libs/bootstrap-3.3.2/css/bootstrap.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
	<link rel="stylesheet" href="../resources/libs/dist/css/AdminLTE.min.css"/>
	<link rel="stylesheet" href="../resources/libs/dist/css/skins/_all-skins.min.css"/>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="EditCtrl">
	<div class="wrapper">
		<!-- =============================================== -->
		<!-- =============================================== -->
		<header class="main-header">
			<a href="#" class="logo"><span class="logo-mini"><b>S</b>K</span><span class="logo-lg"><b>School</b>KARD</span></a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		           <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
		           <span class="icon-bar"></span><span class="icon-bar"></span>
		         </a>
		         <div class="navbar-custom-menu"></div>
			</nav>
		</header>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<aside class="main-sidebar" th:include="menu :: menu"></aside>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<div class="content-wrapper">
		
<!-- =============================================== -->
<!-- =============================================== -->
<!-- =============================================== -->
<section class="content-header">
	<h1>Teacher <small>Control panel</small></h1>
	<ol class="breadcrumb">
		<li><button type="button" ng-click="getBack()" class="btn btn-sm btn-info">
			<i class="glyphicon glyphicon-backward"></i> Go back
		</button></li>
	</ol>
</section>
<section class="content">
	<div class="row">
	<div class="col-xs-12">
	<div class="box box-info">
		<form class="form-horizontal">
		<div class="box-body">		
			<input type="hidden" class="form-control" ng-model="teacher.teacherId" />
			<div class="form-group">
				<label class="col-sm-4 control-label">Name</label>
				<div class="col-sm-6"><input type="text" class="form-control" ng-model="teacher.teacherName" /></div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Address</label>
				<div class="col-sm-6"><textarea class="form-control" ng-model="teacher.address"></textarea></div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">State</label>
				<div class="col-sm-6"><select class="form-control" ng-options="s for s in states">
					<option value="">--- Select State ---</option>
				</select></div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">City</label>
				<div class="col-sm-6"><select class="form-control"></select></div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Location</label>
				<div class="col-sm-6"><select class="form-control" ng-model="teacher.location"></select></div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Pin Code</label>
				<div class="col-sm-6"><input type="text" class="form-control" /></div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Contact Number</label>
				<div class="col-sm-6"><input type="text" class="form-control" ng-model="teacher.contactNo" /></div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Qualification</label>
				<div class="col-sm-6"><input type="text" class="form-control" ng-model="teacher.qualification" /></div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Date Of Birth</label>
				<div class="col-sm-6"><input type="text" class="form-control" ng-model="teacher.dateOfBirth" /></div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Date Of Joining</label>
				<div class="col-sm-6"><input type="text" class="form-control" ng-model="teacher.dateOfJoining" /></div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Subject</label>
				<div class="col-sm-6"><select class="form-control" ng-model="teacher.subject"></select></div>
			</div>
		</div>
		<div class="box-footer">
			<button type="button" class="btn btn-success pull-right" ng-click="saveTeacher()">
				<i class="glyphicon glyphicon-ok"></i> Save</button>
		</div>
		</form>
	</div>
	</div>
	</div>
</section>
<!-- =============================================== -->
<!-- =============================================== -->
<!-- =============================================== -->
				
		</div>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs"><b>Version</b> 1.0.0</div>
			<strong>Copyright &copy; 2016-2017 <a href="http://creativedreamzzz.com">Creative Dreamzzz</a>.</strong> All rights reserved.
		</footer>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
	</div>
	<script type="text/javascript" src="../resources/libs/angularjs-1.3.8/angular.js"></script>
	<script type="text/javascript" src="../resources/libs/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../resources/libs/bootstrap-3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../resources/libs/plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="../resources/libs/plugins/fastclick/fastclick.min.js"></script>
	<script type="text/javascript" src="../resources/libs/dist/js/app.min.js"></script>
	<script type="text/javascript" src="../resources/libs/dist/js/demo.js"></script>
	<script type="text/javascript" src="../resources/libs/bootstrap-3.3.2/js/bootbox.js"></script>
	<script type="text/javascript" src="../resources/js/teacher.js"></script>
</body>
</html>
