<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="teacher">
<head>
<title>Student KARD | Employee</title>
<link th:replace="util/import :: head" />
</head>
<body class="hold-transition skin-blue sidebar-mini"
	ng-controller="EditCtrl">
	<div class="wrapper">
		<!-- =============================================== -->
		<!-- =============================================== -->
		<header class="main-header">
			<a href="#" class="logo"><span class="logo-mini"><b>S</b>K</span><span
				class="logo-lg"><b>Student</b>KARD</span></a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span><span
					class="icon-bar"></span> <span class="icon-bar"></span><span
					class="icon-bar"></span>
				</a>
				<div class="navbar-custom-menu"></div>
			</nav>
		</header>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<aside class="main-sidebar" th:include="menu :: menu"></aside>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<div class="content-wrapper">

			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->
			<section class="content-header">
				<h1>
					Employee <small>Control panel</small>
				</h1>
				<ol class="breadcrumb">
					<li><button type="button" ng-click="getBack()"
							class="btn btn-sm btn-info">
							<i class="glyphicon glyphicon-backward"></i> Go back
						</button></li>
				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-info">
							<form class="form-horizontal">
								<div class="box-body">
									<input type="hidden" class="form-control"
										ng-model="teacher.teacherId" />
									<div class="form-group">
										<label class="col-sm-4 control-label">Name</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="name"
												ng-model="teacher.teacherName" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Email ID</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="email"
												ng-model="teacher.emailAddress" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Gender</label>
										<div class="col-sm-6">
											<select class="form-control" id="gender"
												ng-model="teacher.gender">
												<option value="">----- Select Gender -----</option>
												<option value="male">Male</option>
												<option value="female">Female</option>	
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Address</label>
										<div class="col-sm-6">
											<textarea class="form-control" ng-model="teacher.address" id="address"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">State</label>
										<div class="col-sm-6">
											<select class="form-control" id="stateName" 
												ng-model="teacher.location.stateName"
												ng-change="loadCitiesByState()">
												<option value="">----- Select State -----</option>
												<option ng-selected="teacher.location.stateName==state"
													ng-repeat="state in states" value="{{state}}">{{state}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">City</label>
										<div class="col-sm-6">
											<select class="form-control"
												ng-model="teacher.location.cityName" id="city"
												ng-change="loadLocationsByCity()">
												<option value="">----- Select City -----</option>
												<option ng-selected="teacher.location.cityName==city"
													ng-repeat="city in cities" value="{{city}}">{{city}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Location</label>
										<div class="col-sm-6">
											<select class="form-control" id="location"
												ng-model="teacher.location.locationId"
												ng-change="loadLocationById()">
												<option value="">----- Select Location -----</option>
												<option
													ng-selected="teacher.location.locationId==location.locationId"
													ng-repeat="location in locations">{{location.locationName}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Pin Code</label>
										<div class="col-sm-6"><input type="text" id="pincode" class="form-control" value="{{teacher.location.pinCode}}"/></div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Contact Number</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="cNum"
												ng-model="teacher.contactNo" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Date Of Birth</label>
										<div class="col-sm-6">
											<input type="date" class="form-control"
												ui-date-format="dd-mm-yyyy" ng-model="teacher.dob" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Date Of Joining</label>
										<div class="col-sm-6">
											<input type="date" class="form-control"
												ui-date-format="dd-mm-yyyy" ng-model="teacher.doj" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Designation</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="designation" 
												ng-model="teacher.designation" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Subject</label>
										<div class="col-sm-6">
											<div class="checkbox" ng-repeat="subject in subjects">
												<label><input type="checkbox" 
													ng-checked="subject.checked"
													ng-click="changeTeacherSubject(subject)" />
													{{subject.subjectName}}</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Course</label>
										<div class="col-sm-6">
											<div class="checkbox" ng-repeat="course in courses">
												<label><input type="checkbox"
													ng-checked="course.checked"
													ng-click="changeTeacherCourse(course)" />
													{{course.courseName}}</label>
											</div>
										</div>
									</div>
									<div class="form-group" ng-if="teacher.teacherId == null">
										<label class="col-sm-4 control-label">Department</label>
										<div class="col-sm-6">
											<div class="checkbox" ng-repeat="department in departments">
												<label><input type="checkbox"
													ng-checked="department.checked"
													ng-click="changeTeacherDepartment(department)" />
													{{department.departmentName}}</label>
											</div>
										</div>
									</div>
								</div>
								<div class="box-footer">
									<button type="button" class="btn btn-success pull-right"
										ng-click="saveTeacher()">
										<i class="glyphicon glyphicon-ok"></i> Save
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->

		</div>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2016-2017 <a
				href="http://creativedreamzzz.com">Creative Dreamzzz</a>.
			</strong> All rights reserved.
		</footer>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
	</div>
	<script th:replace="util/import :: scripts"></script>
	<script type="text/javascript" th:src="@{/resources/js/teacher.js}"></script>
</body>
</html>
