<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="student">
<head>
<title>Student KARD | Student</title>
<link th:replace="util/import :: head" />
</head>
<body class="hold-transition skin-blue sidebar-mini"
	ng-controller="ViewCtrl">
	<div class="wrapper">
		<!-- =============================================== -->
		<!-- =============================================== -->
		<header class="main-header">
			<a href="#" class="logo"><span class="logo-mini"><b>S</b>K</span><span
				class="logo-lg"><b>Student</b>KARD</span></a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span><span
					class="icon-bar"></span> <span class="icon-bar"></span><span
					class="icon-bar"></span>
				</a>
				<div class="navbar-custom-menu"></div>
			</nav>
		</header>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<aside class="main-sidebar" th:include="menu :: menu"></aside>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<div class="content-wrapper">

			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->
			<section class="content-header">
				<h1>
					Student <small>Control panel</small>
				</h1>
				<ol class="breadcrumb">
					<li><button type="button" ng-click="createParent()"
							class="btn btn-sm btn-info">
							<i class="glyphicon glyphicon-plus"></i> Add Parent
						</button></li>
					<li><button type="button" ng-click="createStudent()"
							class="btn btn-sm btn-info">
							<i class="glyphicon glyphicon-plus"></i> Add Student
						</button></li>
						<li><a href="../excel/form.xlsx" target="_blank" class="btn btn-sm btn-info">Download Form</a></li>
				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-body">
								<div class="form-group">
									<input type="text" ng-model="search" class="form-control" placeholder="Search"/>
								</div>
								<table 
									class="table table-bordered table-striped table-hover table-condensed">
									<thead style="background-color: #31b0d5;">
										<tr>
											<th>&nbsp;</th>
											<th ng-click="sort('studentName')">Name&nbsp;
											<span class="glyphicon sort-icon" ng-show="sortKey=='studentName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
											<th>Email ID</th>
											<th>Contact No</th>
											<th ng-click="sort('dateOfBirth')">Date Of Birth&nbsp;
											<span class="glyphicon sort-icon" ng-show="sortKey=='dateOfBirth'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
											<th ng-click="sort('dateOfJoining')">Date Of Joining&nbsp;
											<span class="glyphicon sort-icon" ng-show="sortKey=='dateOfJoining'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
											<th ng-click="sort('course.courseName')">Course&nbsp;
											<span class="glyphicon sort-icon" ng-show="sortKey=='course.courseName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
											<th ng-click="sort('batch.batchName')">Batch&nbsp;
											<span class="glyphicon sort-icon" ng-show="sortKey=='batch.batchName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
											<th>Parent</th>
										</tr>
									</thead>
									<tbody>
										<tr dir-paginate="student in students|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
											<td style="width: 6%;">
												<button type="button" ng-click="openStudent(student)"
													class="btn btn-sm btn-success">
													<i class="glyphicon glyphicon-edit"></i>
												</button> 
											</td>
											<td>{{student.studentName}}</td>
											<td>{{student.emailAddress}}</td>
											<td>{{student.contactNo}}</td>
											<td>{{student.dateOfBirth | date: "dd-MMM-yyyy"}}</td>
											<td>{{student.dateOfJoining | date: "dd-MMM-yyyy"}}</td>
											<td>{{student.course.courseName}}</td>
											<td>{{student.batch.batchName}}</td>
											<td style="width: 6%;">
												<button type="button" ng-click="openParent(student.parent)"
													class="btn btn-sm btn-success">
													<i class="glyphicon glyphicon-edit"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
								<dir-pagination-controls max-size="10" 
									direction-links="true" boundary-links="true"></dir-pagination-controls>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->

		</div>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2016-2017 <a
				href="http://creativedreamzzz.com">Creative Dreamzzz</a>.
			</strong> All rights reserved.
		</footer>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
	</div>
	<script th:replace="util/import :: scripts"></script>
	<script type="text/javascript" th:src="@{/resources/js/student.js}"></script>
</body>
</html>
