<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="teacher">
<head>
<title>Student KARD | Employee</title>
<link th:replace="util/import :: head" />
</head>
<body class="hold-transition skin-blue sidebar-mini"
	ng-controller="ViewCtrl">
	<div class="wrapper">
		<!-- =============================================== -->
		<!-- =============================================== -->
		<header class="main-header">
			<a href="#" class="logo"><span class="logo-mini"><b>S</b>K</span><span
				class="logo-lg"><b>Student</b>KARD</span></a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span><span
					class="icon-bar"></span> <span class="icon-bar"></span><span
					class="icon-bar"></span>
				</a>
				<div class="navbar-custom-menu"></div>
			</nav>
		</header>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<aside class="main-sidebar" th:include="menu :: menu"></aside>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<div class="content-wrapper">

			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->
			<section class="content-header">
				<h1>
					Employee <small>Control panel</small>
				</h1>
				<ol class="breadcrumb">
					<li><a ng-click="createTeacher();"><button type="button"
								class="btn btn-sm btn-info">
								<i class="glyphicon glyphicon-plus"></i> Add Employee
							</button></a></li>
				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box box-primary">
							<div class="box-body">
								<div class="form-group">
									<input type="text" ng-model="search" class="form-control" placeholder="Search"/>
								</div>
								<table
									class="table table-bordered table-striped table-hover table-condensed">
									<thead style="background-color: #31b0d5;">
										<tr>
											<th>&nbsp;</th>
											<th ng-click="sort('teacherName')">Name&nbsp;
											<span class="glyphicon sort-icon" ng-show="sortKey=='teacherName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
											<th>Email ID</th>
											<th>Contact No</th>
											<th ng-click="sort('dateOfBirth')">Date Of Birth&nbsp;
											<span class="glyphicon sort-icon" ng-show="sortKey=='dateOfBirth'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
											<th ng-click="sort('dateOfJoining')">Date Of Joining&nbsp;
											<span class="glyphicon sort-icon" ng-show="sortKey=='dateOfJoining'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
											<th ng-click="sort('designation')">Designation&nbsp;
											<span class="glyphicon sort-icon" ng-show="sortKey=='designation'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
											<th>Subject</th>
											<th>Courses</th>
										</tr>
									</thead>
									<tbody>
										<tr dir-paginate="teacher in teachers|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
											<td>
												<button type="button" ng-click="openTeacher(teacher)"
													class="btn btn-sm btn-success">
													<i class="glyphicon glyphicon-edit"></i>
												</button>
											</td>
											<td>{{teacher.teacherName}}</td>
											<td>{{teacher.emailAddress}}</td>
											<td>{{teacher.contactNo}}</td>
											<td>{{teacher.dateOfBirth | date: "dd-MMM-yyyy"}}</td>
											<td>{{teacher.dateOfJoining | date: "dd-MMM-yyyy"}}</td>
											<td>{{teacher.designation}}</td>
											<td><span style="margin-right: 5px;"
												class="label label-info"
												ng-repeat="subject in teacher.subjects">&nbsp;{{subject.subjectName}}&nbsp;</span></td>
											<td><span style="margin-right: 5px;"
												class="label label-info"
												ng-repeat="course in teacher.courses">&nbsp;{{course.courseName}}&nbsp;</span></td>
										</tr>
									</tbody>
								</table>
								<dir-pagination-controls max-size="10" 
									direction-links="true" boundary-links="true"></dir-pagination-controls>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->

		</div>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2016-2017 <a
				href="http://creativedreamzzz.com">Creative Dreamzzz</a>.
			</strong> All rights reserved.
		</footer>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
	</div>
	<script th:replace="util/import :: scripts"></script>
	<script type="text/javascript" th:src="@{/resources/js/teacher.js}"></script>
</body>
</html>
