<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app="timetracker">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Student KARD | Home</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<link rel="stylesheet"
	href="../resources/libs/bootstrap-3.3.2/css/bootstrap.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<link rel="stylesheet"
	href="../resources/libs/plugins/fullcalendar/fullcalendar.min.css" />
<link rel="stylesheet"
	href="../resources/libs/plugins/fullcalendar/fullcalendar.print.css"
	media="print" />
<link rel="stylesheet"
	href="../resources/libs/dist/css/AdminLTE.min.css" />
<link rel="stylesheet"
	href="../resources/libs/dist/css/skins/_all-skins.min.css" />
</head>
<body class="hold-transition skin-blue sidebar-mini"
	ng-controller="ViewCtrl">
	<div class="wrapper">
		<!-- =============================================== -->
		<!-- =============================================== -->
		<header class="main-header">
			<a href="#" class="logo"><span class="logo-mini"><b>S</b>K</span><span
				class="logo-lg"><b>Student</b>KARD</span></a>
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span><span
					class="icon-bar"></span> <span class="icon-bar"></span><span
					class="icon-bar"></span>
				</a>
				<div class="navbar-custom-menu"></div>
			</nav>
		</header>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<aside class="main-sidebar" th:include="menu :: menu"></aside>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<div class="content-wrapper">

			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->
			<section class="content-header">
				<h1>
					Time Tracker<small>Control Panel</small>
				</h1>
				<ol class="breadcrumb">

				</ol>
			</section>
			<section class="content">
				<div class="row" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLOYEE')">
					<div class="col-md-4">
						<!-- <div class="box box-solid">
			<div class="box-header with-border"><h4 class="box-title">Draggable Events</h4></div>
			<div class="box-body">
				<div id="external-events"></div>
			</div>
		</div> -->
						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">Add Event</h3>
							</div>
							<form class="form-horizontal">
								<div class="box-body">
									<div class="form-group">
										<label class="col-sm-3 control-label">Course</label>
										<div class="col-sm-9">
											<select class="form-control"
												ng-model="timeTracker.course.courseId" id="courseId">
												<option value="">----- Select Course -----</option>
												<option ng-repeat="course in courses"
													value="{{course.courseId}}">{{course.courseName}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Teacher</label>
										<div class="col-sm-9">
											<select class="form-control" id="teacherId"
												ng-model="timeTracker.teacher.teacherId"
												ng-change="loadSubjectsById()">
												<option value="">----- Select Teacher -----</option>
												<option ng-repeat="teacher in teachers"
													value="{{teacher.teacherId}}">{{teacher.teacherName}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Subject</label>
										<div class="col-sm-9">
											<select class="form-control" id="subjectId"
												ng-model="timeTracker.subject.subjectId">
												<option value="">----- Select Subject -----</option>
												<option ng-repeat="subject in subjects"
													value="{{subject.subjectId}}">{{subject.subjectName}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">All Day</label>
										<div class="col-sm-9 checkbox">
											<label><input type="checkbox"
												ng-model="timeTracker.fullDay" id="allDay"
												onclick="allDayClicked();" /></label>
										</div>
									</div>
									<div class="form-group" id="startDate">
										<label class="col-sm-3 control-label">Start Date</label>
										<div class="col-sm-9">
											<input type="datetime-local"
												placeholder="yyyy-MM-ddTHH:mm:ss" class="form-control"
												ng-model="timeTracker.tempStart" />
										</div>
									</div>
									<!-- <div class="form-group" id="startTime">
					<label class="col-sm-3 control-label">Start Time</label>
					<div class="col-sm-9"><input type="time" class="form-control" ng-model="timeTracker.startTime"/>&nbsp;(24 Hrs Format)</div>
				</div> -->
									<div class="form-group" id="endDate">
										<label class="col-sm-3 control-label">End Date</label>
										<div class="col-sm-9">
											<input type="datetime-local"
												placeholder="yyyy-MM-ddTHH:mm:ss" class="form-control"
												ng-model="timeTracker.tempEnd" />
										</div>
									</div>
									<!-- <div class="form-group" id="endTime">
					<label class="col-sm-3 control-label">End Time</label>
					<div class="col-sm-9"><input type="time" class="form-control" ng-model="timeTracker.endTime"/>&nbsp;(24 Hrs Format)</div>
				</div> -->
									<div class="box-footer">
										<button type="button" class="btn btn-success pull-right"
											ng-click="saveTimeTracker();">
											<i class="glyphicon glyphicon-ok"></i> Save
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-8">
						<div class="box box-primary">
							<div class="box-body no-padding">
								<div class="calendar" ng-model="eventSources"
									calendar="myCalendar" config="uiConfig.calendar"
									ui-calendar="uiConfig.calendar"></div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" sec:authorize="hasRole('ROLE_PARENT') || hasRole('ROLE_STUDENT')">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-body no-padding">
								<div class="calendar" ng-model="eventSources"
									calendar="myCalendar" config="uiConfig.calendar"
									ui-calendar="uiConfig.calendar"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- =============================================== -->
			<!-- =============================================== -->
			<!-- =============================================== -->

		</div>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2016-2017 <a
				href="http://creativedreamzzz.com">Creative Dreamzzz</a>.
			</strong> All rights reserved.
		</footer>
		<!-- =============================================== -->
		<!-- =============================================== -->
		<!-- =============================================== -->
	</div>
	<script type="text/javascript"
		src="../resources/libs/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<script type="text/javascript"
		src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript"
		src="../resources/libs/bootstrap-3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
	<script type="text/javascript"
		src="../resources/libs/angularjs-1.3.8/angular.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
	<script type="text/javascript"
		src="../resources/libs/plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<script type="text/javascript"
		src="../resources/libs/plugins/fastclick/fastclick.min.js"></script>
	<script type="text/javascript"
		src="../resources/libs/dist/js/app.min.js"></script>
	<script type="text/javascript" src="../resources/libs/dist/js/demo.js"></script>
	<script
		src="http://rawgit.com/angular-ui/ui-calendar/master/src/calendar.js"></script>
	<script type="text/javascript"
		src="../resources/libs/plugins/fullcalendar/fullcalendar.min.js"></script>
	<script type="text/javascript" src="../resources/js/timetracker.js"></script>
</body>
</html>
